
<div class="section">
  <div class="section_chart size-chart">
    <ul class="nav_sizeChart">
      <li data-id="cm" class="active"><span>CM</span></li>
      <li data-id="in"><span>IN</span></li>
    </ul>
    
      <table class="data_table_size active" data-id="cm"  width="100%">
          <tbody>
              <tr>
                  <td>Size</td>
                  <td>US Size</td>
                  <td>Bust</td>
                  <td>Waist</td>
                  <td>Hips</td>
              </tr>
              <tr>
                  <td>XS</td>
                  <td><span>2</span></td>
                  <td>83 5/6</td>
                  <td>63 1/2</td>
                  <td>90 1/6</td>
              </tr>
              <tr>
                  <td>S</td>
                  <td>4-6</td>
                  <td>87 5/8</td>
                  <td>67 1/3</td>
                  <td>94&nbsp;</td>
              </tr>
              <tr>
                  <td>M</td>
                  <td>8-10</td>
                  <td>95&nbsp;1/4</td>
                  <td>75</td>
                  <td>101&nbsp;3/5</td>
              </tr>
              <tr>
                  <td>L</td>
                  <td>12-14</td>
                  <td>102&nbsp;7/8</td>
                  <td>82 5/9</td>
                  <td>109 2/9</td>
              </tr>
              <tr>
                  <td>XL</td>
                  <td>16-18</td>
                  <td>110 1/2</td>
                  <td>90 1/6</td>
                  <td>116 5/6</td>
              </tr>
              <tr>
                  <td>1X</td>
                  <td>16-18W</td>
                  <td>113</td>
                  <td>92 5/7</td>
                  <td>119 3/8</td>
              </tr>
              <tr>
                  <td>2X</td>
                  <td>20-22W</td>
                  <td>120 2/3</td>
                  <td>100 1/3</td>
                  <td>127</td>
              </tr>
              <tr>
                  <td>3X</td>
                  <td>24-26W</td>
                  <td>128 1/4</td>
                  <td>108</td>
                  <td>134 5/8</td>
              </tr>
          </tbody>
      </table>

       
		<table class="data_table_size" data-id="in" width="100%">
        <tbody>
        <tr>
          <td>Size</td>
          <td>US Size</td>
          <td>Bust</td>
          <td>Waist</td>
          <td>Hips</td>
        </tr>
        <tr>
          <td>XS</td>
          <td><span>2</span></td>
          <td>33</td>
          <td>25</td>
          <td>35 1/2</td>
        </tr>
        <tr>
          <td>S</td>
          <td>4-6</td>
          <td>34 1/2</td>
          <td>26 1/2</td>
          <td>37</td>
        </tr>
        <tr>
          <td>M</td>
          <td>8-10</td>
          <td>37 1/2</td>
          <td>29 1/2</td>
          <td>40</td>
        </tr>
        <tr>
          <td>L</td>
          <td>12-14</td>
          <td>40 1/2</td>
          <td>32 1/2</td>
          <td>43</td>
        </tr>
        <tr>
          <td>XL</td>
          <td>16-18</td>
          <td>43 1/2</td>
          <td>35 1/2</td>
          <td>46</td>
        </tr>
        <tr>
          <td>1X</td>
          <td>16-18W</td>
          <td>44 1/2</td>
          <td>36 1/2</td>
          <td>47</td>
        </tr>
        <tr>
          <td>2X</td>
          <td>20-22W</td>
          <td>47 1/2</td>
          <td>39 1/2</td>
          <td>50</td>
        </tr>
        <tr>
          <td>3X</td>
          <td>24-26W</td>
          <td>50 1/2</td>
          <td>42 1/2</td>
          <td>53</td>
        </tr>
        </tbody>
      </table>
     
  </div>
</div>

{% schema %}
  {
    "name": "Size Chart",
    "settings": [],
	"presets":[
	 {
		"name": "size-chart"
	 }
	]
  }
{% endschema %}
 